page-category-items {
    .input-wrapper{
        
    }
    .float-left {
        float: left;
        width: 30%;
        text-align: center;
    }
    .float-center-right {
        float: right;
        width: 50%;
        padding-right: 15px;
    }
    .float-right {
        float: right;
        width: 15%;
    }
}
